@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.exercicio div {
    font-size: 3em;
    border: solid 5px #fff;
    padding: 20px 40px;
    margin: 10px;
}

.exercicio div:nth-of-type(1) {
    background-color: darkgoldenrod;
}

.exercicio div:nth-of-type(2) {
    background-color: crimson;
}

.exercicio div:nth-of-type(3) {
    background-color: darkcyan;
}

.exercicio div:nth-of-type(4) {
    background-color: darkorchid;
}

.exercicio .destaque {
    border: solid 10px greenyellow;
    color: greenyellow;
    font-weight: bold;
}

.resetar {
    /* display: inline-block; */
    margin: 0 50%;
    margin-top: 10px;
    transform: translate(-50%);
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

.escondido {
    display: none;
}

.resetar h1 {
    text-align: center;
    padding: 10px;
    background: #d3ab6d;
    border: 2px solid #222;
    border-radius: 10px;
}

.botao-resetar{
    background-color: orangered;
    color: #fff;
    font-size: 1.5em;
    border: none;
    border: 2px solid #222;
}